// Default behavior for the sidenav layout
// The default positioning for the sidenav is a static position


    // Wraps the content when using the sidenav layout
  #layoutMain_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - #{$topnav-base-height});
  }

